<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="home-background">

    <div class="logo-section">
      <div class="logo-wrapper">
        <img src="assets/icon/logo-app.svg" alt="Logo Vaga TA" class="logo-img">
      </div>
      <h1 class="home-title">Gas Tracker</h1>
    </div>

    <div class="fp-card">
      <h2 class="fp-title">Botijão</h2>
      <div class="fp-wrapper">
        <img src="assets/cilindro-de-gas.svg" alt="Cilindro de Gás" class="fp-img">
      </div>
      <h2 class="fp-value">n% restantes</h2>
    </div>

    <div class="infos">
      <h2 class="info-medicao"> Última leitura há n minutos </h2>
    </div>

  </div>
</ion-content>
