<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="home-background">

    <div class="botijao-card">
      <div class="botijao-box">
        <div class="botijao-img"></div>
        <div class="botijao-mask">
          <div class="liquido" id="liquido"></div>
        </div>
      </div>

      <div class="botijao-nivel">
        <span class="botijao-nivel__valor">{{porcentagem}}%</span>
        <span class="botijao-nivel__label">restantes</span>
      </div>
    </div>

    <h2 class="info-medicao">Última leitura há {{minutosUltimaLeitura}} minutos</h2>

  </div>
</ion-content>
